<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMa Farmácia</title>
    <%- include('./partials/Style')%>
    <%- include('./partials/Style_abrirTickets')%>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
<% if (isAuthenticated){ %>
        <%- include('./partials/Base_Logged')%>
        <%} else{%>
        <%-include('./partials/Base_Notlogged')%>
        <%} %>
<main>
    <div><label>Adicionar e-mail</label></div>
    <input type="text" id = "emailAbrirTicket">
    <div><label>Mensagem</label></div>
    <label>Cliente precisa de ajuda!</label>
</main>
<%-include('./partials/Footer')%>
</body>
</html>