<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMa Farmácia</title>
    <%- include('./partials/Style')%>
    <%- include('./partials/Style_criarTickets')%>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
<% if (isAuthenticated){ %>
        <%- include('./partials/Base_Logged')%>
        <%} else{%>
        <%-include('./partials/Base_Notlogged')%>
        <%} %>
<main>
    <div class = "row">
        <div class="col">
        </div>
        <div class="col-6">
            <form action = "/tickets/criarTicket" method="post">
                <label>Titulo</label><br>
                <input class ="inputTicket" name = "title" type="text" id = "tituloTicket"><br>
                <label>Descrição</label><br>
                <textarea class ="inputTicket description" name = "description" type="text" id = "descricaoTicket"></textarea><br>
                <label>Email</label><br>
                <input class ="inputTicket" name = "email" type="text" id = "emailTicket"><br>
                <input name = "state" type = "hidden" value = "false"><br>
                <label>Escolha Agente :</label><br>
                <select name="User">
                    <option value = ""></option>
                    <% users.forEach(function(users) { %>
                        <option value = "<%=users._id%>"><%=users.username%></option>
                    <% });%>    
                </select><br><br>
                <button class = "criarTicket" id = "CriarTicket">Criar</button>
        </div>
        <div class="col">
        </div>
    </form>
    </div>
</main>
<%-include('./partials/Footer')%>
</body>
</html>