<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FACIL</title>
    <%- include('./partials/Style')%>
    <%- include('./partials/Style_Home')%>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
    <% if (isAuthenticated){ %>
    <%- include('./partials/Base_Logged')%>
    <%} else{%>
    <%-include('./partials/Base_Notlogged')%>
    <%} %>

    <main>
       <div>
            <ul class="main_but">
            <% if (isAuthenticated){ %>
                <li><a href="/reserva"><button>Reservas</button></a></li>
                <%} %>
                <li><a href="/pesquisa"><button>Pesquisa Frequências</button></a></li>
                <% if (isAuthenticated){ %>
                <li><a href="/carreira"><button>Carreiras</button></a></li>
                <li><a href="/frequencia"><button>Frequências</button></a></li>
                <li><a href="/horario"><button>Horário</button></a></li>
                <li><a href="/titulo"><button>Títulos</button></a></li>
                <%} %>
                <!-- <li><a href="/atendimento"><button>MAPA - Rotas</button></a></li> -->
            </ul>
       </div>
    </main>
    <%-include('./partials/Footer')%>
</body>
</html>