<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FACIL</title>
    <%- include('./partials/Style')%>
    <%- include('./partials/Style_FaqCreate')%>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
<% if (isAuthenticated){ %>
    <%- include('./partials/Base_Logged')%>
<%} else{%>
    <%-include('./partials/Base_Notlogged')%>
<%} %>
<main>
    <div class="collorblack">
        <form action="/horario/edit/<%=horario._id%>" method="post" class="formcreate">
            <h1>Editar Horarios</h1>
            <label class="col-lg-12 columnStyle p-3">Hora </label><br>
            <input name="hora" type="text" value="<%=horario.Frequencia[0].hora%>" placeholder="Insira a hora" class="col-lg-12 columnStyle perguntainput">
            <label class="col-lg-12 columnStyle p-3">Minutos </label><br>
            <input name="minutos" type="text" value="<%=horario.Frequencia[0].minutos%>" placeholder="Insira a hora" class="col-lg-12 columnStyle perguntainput">           
            <input name ="User" type="hidden" value="<%=user.id%>">            
            <div class="container">
                <div class="row">
                    <div class="criarconta divbutton">
                        <button id="btn_criarconta" type="submit" value="Submit">Mudar Horário</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<%-include('./partials/Footer')%>
</body>
</html>