<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FÁCIL</title>
    <%- include('./partials/Style')%>
    <%- include('./partials/Style_Utili')%>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
<%- include('./partials/Base_Logged')%>
<main class="utilizador flex-fill">
    <main>
        <div class="collorblack">
            <form action="/reserva/comentario/<%=reserva._id%> " method="post" class="formcreate">
                <h1>Escrever Comentário</h1>
                <label class="col-lg-12 columnStyle p-3">Escreva um comentário a descrever o que achou da viagem </label><br>
                <textarea name="comentario" rows="4" cols="50" placeholder="" class="col-lg-12 columnStyle perguntainput"></textarea>
                <br>
                <div class="container">
    
                    <div class="row">
                        <div class="criarconta divbutton">
                            <button id="btn_criarconta" type="submit" value="Submit">Dar Comentário</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</main>
<%-include('./partials/Footer')%>
</body>
</html>