<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FÁCIL</title>
    <%- include('./partials/Style')%>
    <%- include('./partials/Style_Utili')%>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
<%- include('./partials/Base_Logged')%>
<main class="utilizador flex-fill" style="flex-direction: column-reverse;">
    <main>
        <div class="collorblack">
            <h1 style="color: red;padding-left: 25%;padding-top: 3%;">Esta Informação será enviada para o seu e-mail</h1>
            <form action="/reserva" method="get" style="display: flex; justify-content: center;">
                <span>
                <label class = "titleTicket">Motorista: <%=reserva.Motorista.username %></label> <br>
                <label class = "titleTicket">Origem: <%=reserva.Origem.nome %></label> <br>
                <label class = "titleTicket">Veículo utilizado: Lotação de: <%=reserva.Veiculo.lotacao%>, Tipo: <%=reserva.Veiculo.tipo%> , Possibilidade na Alteração da Climatização: <% if (reserva.Veiculo.climatizacao == true){%> Sim <% }else{ %> Não <% } %></label> <br>
                <label class = "description">Data e Hora de Marcação : <%=reserva.datetime.toLocaleString() %></label><br>
                <label class = "state" >Acompanhante : <%= ((reserva.acompanhante == true) ? "Sim" : "Não") %></label><br>
                <label class = "state" >Mobilidade Reduzida : <%= ((reserva.mobilidadeReduzida == true) ? "Sim" : "Não") %></label><br>
                <button id="btn_criarconta" type="submit" value="Submit">Enviar Notificação</button>
                </span>
            </form>
        </div>
    </main>
</main>
<%-include('./partials/Footer')%>
</body>
</html>