<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FÁCIL</title>
    <%- include('./partials/Style')%>
    <%- include('./partials/Style_Utili')%>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
<%- include('./partials/Base_Logged')%>
<main class="utilizador flex-fill">
    <main>
        <div class="collorblack">
            <form action="/reserva/criar" method="post" class="formcreate">
                <h1>Criar Reserva</h1>
                <label class="col-lg-12 columnStyle p-3">Escolha a Data e Hora da Reserva </label><br>
                <input name="datetime" type="datetime-local" placeholder="Insira aqui a data" class="col-lg-12 columnStyle perguntainput">
                <br>
                <label for="topic">Escolha o seu Motorista</label>
                <select class="form-control" id="topic" name="Motorista">
                    <%udocs.forEach(function(udocs) {%>
                        <% if (udocs.tipo == 3){%>
                        <option value = "<%=udocs._id%>"><%=udocs.username%></option>
                        <% } %> 
                        <% });%>
                </select>
                <label for="topic">Escolha a sua Origem</label>
                <select class="form-control" id="topic" name="Origem">
                    <%carreiras.forEach(function(carreiras) {%>
                        <option value = "<%=carreiras._id%>"><%=carreiras.nome%></option>
                        <% });%>
                </select>
                <label for="topic">Escolha o seu tipo de veiculo</label>
                <select class="form-control" id="topic" name="Veiculo">
                    <%veiculos.forEach(function(veiculos) {%>
                        <option value = "<%=veiculos._id%>">Lotação de: <%=veiculos.lotacao%>, Tipo: <%=veiculos.tipo%> , Possibilidade na Alteração da Climatização: <% if (veiculos.climatizacao == true){%> Sim <% }else{ %> Não <% } %>  </option>
                        <% });%>
                </select>
                <input name ="User" type="hidden" value="<%=user.id%>">
                <label for="mobilidadeReduzida">Mobilidade Reduzida?</label>
                <select name ="mobilidadeReduzida">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
                <label for="acompanhante">Precisa de um Acompanhante?</label>
                <select name ="acompanhante">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
                <div class="container">
    
                    <div class="row">
                        <div class="criarconta divbutton">
                            <button id="btn_criarconta" type="submit" value="Submit">Criar Reserva</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</main>
<%-include('./partials/Footer')%>
</body>
</html>